# yii console commands
# /yii
# /yii_test
# /yii_test.bat

/vendor
/upload

# phpstorm project files
/.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar

# local phpunit config
/phpunit.xml

# vagrant runtime
#/.vagrant

# vue 
/backend/views/vue/node_modules
/backend/web/cp/*.json
/backend/web/cp/*.js
/backend/web/cp/!main.js

# Webrtc
/webrtc/node_modules

#cache
/api/runtime
/frontend/runtime
/backend/runtime

# Start app
/backend/web/index.php
/frontend/web/index.php