<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/admin/cp/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/admin/cp/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/admin/cp/css/style.css">
    <title>efsosh</title>
</head>
<body>
<?php echo 45; ?>

<!-- built files will be auto injected -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/fr.js"></script>
<script type="text/javascript" src="/admin/cp/app.js"></script>
<script type="text/javascript" src="/admin/cp/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/admin/cp/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/admin/cp/js/bootstrap-datepicker.js"></script>
<!--<script type="text/javascript" src="/admin/cp/js/main.js"></script>-->
</body>
</html>

